.section{
    background: #eeee;
}

.container{
    padding: 20px;
    border: 3px solid #000000;
    min-height: 200px;
}

.box{
    border: 3px solid #000000;
    min-height: 150px;
    /* width: 80%; */
    padding: 5px;
    margin: 20px 0 20px 0;
}

/* #Register{
    float: left;
} */

.button {
    border-radius: 4px;
    background-color: #46c70a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';  /* Pakeicia strelytes ir t.t. mygtuko viduje*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }